*.iml
.gradle
/local.properties
app/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/app/.idea
/app/src/main/res/values/ids.xml
/app/google-services.json
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
